  <div class = 'content'>
  	<h1 class = 'big-title'>Mi Perfil</h1>
  	<h2 class = 'subtitulo'>Desde tu cuenta puedes actualizar tus datos, ver tu historial de películas</br>vistas y las que aún se encuentran disponibles y abonar dinero para próximas películas.</h1>
  	
  	<div class = 'subseccion underlined'>Mis Datos<img src = '<%= image_path("botones/icon-editdatos.png") %>' class = 'editdatos-btn popup-btn' popup-target = 'editarPerfilPopup'/></div>
  	
  	<div class = 'perfil'>
  		<div class = 'avatar'>
  			<div class = 'titulo'>Foto de perfil</div>
  			<%= image_tag current_user.avatar %>
  			<img src = '<%= current_user.foto_url %>'/>
  		</div>
  		<div class = 'informacion'>
  			<div class = 'col1'>
  				<label>Nombre</label>
  				<div class = 'fake-input'>
	  				<%= current_user.nombre %>
  				</div>
  				<label>Correo Electrónico</label>
  				<div class = 'fake-input'>
  					<%= current_user.email %>
  				</div>
  				<label>Contraseña</label>
  				<div class = 'fake-input'>
  					*************
  				</div>
  			</div>
  			<div class = 'col2'>
  				<label>Sexo</label>
  				<div class = 'fake-input'>
  					<% if current_user.genero == "M" %>
  						Masculino
  					<% else %>
  						Femenino
  					<% end %>
  				</div>
  				<label>País</label>
  				<div class = 'fake-input'>
  				  <%= current_user.country_name %>
  				</div>
  			</div>
  			<div class = 'clear'></div>
  		</div>
  	</div>
  	
  </div>
  
  <div class = 'full-width content gray-background'>
  	<div class = 'section'>
  		<div class = 'subseccion underlined'>Pagos abonados</div>
  		<div class = 'clear'></div>
  		<div class = 'abonado'>
  			Abona dinero a tu cuenta en Lukea.tv para que puedas disfrutar</br>
  			de tus películas pagas de una manera cómoda, rápida y sencilla.
  			<div class = 'totalAbonado'>
  				total abonado:
  				<span class = 'montoTotal'>$<%= current_user.saldo %></span>
  			</div>
  		</div>
  		<div class = 'mediosPago'>
  			<img src = '<%= image_path("botones/btn-webpay.png") %>' />
  			<img src = '<%= image_path("botones/btn-khipu.png") %>' />
  			<img src = '<%= image_path("botones/btn-paypal.png") %>' />
  		</div>
  		<div class = 'clear'></div>
  	</div>
  </div>