<%= form_for(@movie, html: {multipart: true}) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :id_vimeo %><br>
    <%= f.text_field :id_vimeo %>
  </div>
  <div class="field">
    <%= f.label :precio %><br>
    <%= f.text_field :precio %>
  </div>
  <div class="field">
    <%= f.label :sinopsis %><br>
    <%= f.text_area :sinopsis %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= collection_check_boxes(:movie, :category_ids, Category.order("category"), :id, :category, {:selected => @movie.category_ids, :include_blank => true}, {:multiple => true}) %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
    <%= f.label :produccion %><br>
    <%= f.text_field :produccion %>
  </div>
  <div class="field">
    <%= f.label :elenco %><br>
    <%= f.text_field :elenco %>
  </div>
  <div class="field">
    <%= f.label :pais %><br>
    <%= f.text_field :pais %>
  </div>
  <div class="field">
    <%= f.label "Año" %><br>
    <%= f.text_field :ano %>
  </div>
  <span class="image">
    <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
