<p id="notice"><%= notice %></p>

<h1>Listing Movies</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>URL</th>
      <th>Descripcion</th>
      <th>Visualizaciones</th>
      <th>ImagenURL</th>
      <th> valoracion </th>
      <th> n_comentarios </th>
      <th> Fecha de creacion </th>
      <th>Categorias</th>      
      <th colspan="9"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.titulo %></td>
        <td><%= movie.pelicula_url %></td>
        <td><%= movie.descripcion %></td>
        <td><%= movie.visualizaciones %></td>
        <td><%= image_tag(movie.image.url, size: "250x250") if movie.image? %></td>
        <td><%= rating_for movie, "Valoración", :disable_after_rate => true %></td>
        <td><%= movie.n_comentarios %></td>
        <td><%= movie.created_at %></td>

        <td>
          <% movie.category_ids.each do |category_id| %>
            <%= Category.find(category_id).category %>
          <% end %> 
        </td>
        <td><%= link_to 'Show', movie %></td>
        <% if current_user.try(:admin?) %>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.try(:admin?) %>
<%= link_to 'New Movie', new_movie_path %>
<% end %>