<p id="notice"><%= notice %></p>

<%= render 'nav_movies' %>

<p>
  <strong>Titulo:</strong>
  <%= @movie.titulo %>
</p>
<p>
  <strong>Sinopsis:</strong>
  <%= @movie.sinopsis%>
</p>
<p>
  <strong>Precio:</strong>
  <%= @movie.precio %>
</p>
<p>
  <strong>Tipo:</strong>
  <%= @movie.tipo %>
</p>
<p>
  <strong>Direccion:</strong>
  <%= @movie.direccion %>
</p>
<p>
  <strong>Produccion:</strong>
  <%= @movie.produccion %>
</p>
<p>
  <strong>Elenco:</strong>
  <%= @movie.elenco %>
</p>
<p>
  <strong>Pais:</strong>
  <%= @movie.pais %>
</p>
<p>
  <strong>Año:</strong>
  <%= @movie.ano %>
</p>
<p>
  <strong>Duracion:</strong>
  <%= @movie.duracion %>
</p>
<p>
  <strong>Vimeo_ID:</strong>
  <%= @movie.id_vimeo %>
</p>
<p>
  <strong>Visualizaciones:</strong>
  <%= @movie.visualizaciones %>
</p>
<p>
  <strong>Valoración:</strong>
  <%= rating_for @movie, "Valoración", :disable_after_rate => false %>
</p>
<p>
  <strong>N.Comentarios:</strong>
  <%= @movie.n_comentarios %>
</p>
<p>
  <strong>Fecha de creación:</strong>
  <%= @movie.created_at %>
</p>
<p>
  <strong>Categorías :</strong>
  <% @movie.category_ids.each do |category_id| %>
    <%= Category.find(category_id).category %>
  <% end %>
<p>
  <strong>ImagenURL:</strong>
  <%= @movie.image %>
</p>
<p>
  <strong>Película:</strong>
  <% if user_signed_in? %>
    <% if @peliculas_user.where(movie_id: @movie.id) != []%>
      <iframe src="//player.vimeo.com/video/<%= @movie.id_vimeo %>" width="250"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <% else %>
      <%= link_to 'Obtener película', obtener_pelicula_path(:costo => @movie.precio, :movie_id => @movie.id), :method => :post %>
    <% end %>
  <% else %>
    <%= link_to 'Iniciar sesion', new_user_session_path, method: :get %>
  <% end %>

</p>

<%= form_for @comment, :url => {:action => "create_comment"} do |f| %>
  <% if @comment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
  
    <ul>
      <% @comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <% if user_signed_in? %>
  <div class="field">
    <%= f.label :Realizar_comentario %><br>
    <%= f.text_field :contenido %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar Comentario" %>
  </div>
  <% else %>
    <%= f.label :Comenta %><br>
    <%= button_to "Inicia sesión", new_user_session_path %>
  <% end %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Comentarios</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.contenido %></td>
      <% if (comment.user_id == current_user.try(:id)) || current_user.try(:admin) %>
      <td><%= link_to 'Eliminar', destroy_comment_path(comment, :movie_id => params[:id]), controller: :movie, method: :delete, data: { confirm: '¿Confirma eliminación?'} %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>


<% if current_user.try(:admin?) %>
<%= link_to 'Editar', edit_movie_path(@movie) %> |
<% end %>
<%= link_to 'Volver', movies_path %>
