<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @movie.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @movie.descripcion %>
</p>

<p>
  <strong>Visualizaciones:</strong>
  <%= @movie.visualizaciones %>
</p>

<p>
  <strong>Image:</strong>
  <%= @movie.image %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
