<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @movie.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @movie.descripcion %>
</p>

<p>
  <strong>Visualizaciones:</strong>
  <%= @movie.visualizaciones %>
</p>

<p>
  <strong>URL:</strong>
  <%= @movie.pelicula_url %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @movie.image %>
</p>

<p>
  <strong>Categorias:</strong>
  <%= @movie.category_ids %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
