<!DOCTYPE html>
<html>
<head>
  <title>lukeaTV</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in?%>
    <%= image_tag(current_user.foto_url,size: "20x20" , :alt => "Foto Usuario") %>
    <%= current_user.nombre %>
    <li>Saldo: <%= current_user.saldo %></li>
    <%= link_to 'Cerrar Sesion', destroy_user_session_path, method: :delete %> | <%= link_to 'Preferencias', edit_user_registration_path, method: :get %>
  <% else %>
    <%= link_to 'Iniciar sesion', new_user_session_path, method: :get %>
  <% end %>
<hr>
  <p>
	<%= link_to 'Peliculas', movies_path %>
	<%= link_to 'Categorias', categories_path %>
	<%= link_to 'Actualidades', actuals_path %>
	<%= link_to 'Multimedia', multimedia_path %>
</p>
<hr>

  <%= yield %>

</body>
</html>
