<!DOCTYPE html>
<html>
<head>
  <title>lukeaTV</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in?%>
    <% if current_user.foto_url %>
    <%= image_tag(current_user.foto_url,size: "20x20" , :alt => "Foto Usuario") %>
    <% end %>
    <%= current_user.nombre %>
    <li>Saldo: <%= current_user.saldo %></li>
    <%= link_to 'Cerrar Sesion', destroy_user_session_path, method: :delete %> | <%= link_to 'Preferencias', edit_user_registration_path, method: :get %>
  <% else %>
    <%= link_to 'Iniciar sesion', new_user_session_path, method: :get %>
  <% end %>
<hr>
  <p>
  <%= link_to 'Inicio', root_path %>
	<%= link_to 'Peliculas', movies_path %> | 
	<%= link_to 'Categorias', categories_path %> 
	<%= link_to 'Mas Recientes', movies_path %>
	<%= link_to 'Mas Valorados', movies_path(:valoracion => true) %>
	<%= link_to 'Mas Comentados', movies_path(:n_comentarios => true) %> | 
	<%= link_to 'Actualidades', actuals_path %>
	<%= link_to 'Multimedia', multimedia_path %>
	<%= link_to 'Contacto', contacto_path %>
	<%= link_to 'Nosotros', nosotros_path %>
	
</p>
<hr>

  <%= yield %>

</body>
</html>
